@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.movieCardContainer {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
  background: rgb(161, 152, 14);
  background: radial-gradient(circle, rgba(256, 256, 256, 1) 0%, rgba(161, 152, 14, 1) 100%);
}

.movieCardContainer::before {
  content: "";
  position: absolute;
  width: 180%;
  height: 140%;
  background-color: #423e5b;
  opacity: 0.8;
  transform: translate(100%, 100%) rotate(45deg);
  transition: all 0.3s ease;
}

.movieCardContainer:hover::before {
  transform: translate(-130px, -60px) rotate(45deg);
}

.movieCardContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-align: center;
}

.content h1 {
  font-size: 24px;
  padding: 10px;
  background-color: #1c1247;
  opacity: 0.8;
  text-transform: uppercase;
  transform: translate(150px, -150px);
  opacity: 0;
  transition: all 0.35s ease;
}

.movieCardContainer:hover .content h1 {
  opacity: 1;
  transform: translate(0, 0);
}

.content p {
  font-size: 16px;
  line-height: 1.1;
  width: 80%;
  align-self: center;
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 0.35s ease;
}

.movieCardContainer:hover .content p {
  opacity: 1;
  transform: translate(0, 0);
}

.content a {
  text-decoration: none;
  width: 40%;
  padding: 10px 0;
  background-color: #1c1247;
  color: white;
  text-transform: uppercase;
  align-self: center;
  opacity: 0;
  transform: translate(-100px, 100px);
  transition: all 0.35s ease;
}

.movieCardContainer:hover .content a {
  opacity: 1;
  transform: translate(0, 0);
}