.inlineContainer {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.infoContainer {
    margin: 1rem;

}

.infoContainer h4 {
    padding: 0.2rem;
}

.background {
    z-Index: -1;

}
hr.rounded {
    margin: 0.5rem;
    border-top: 2px solid #bbb;
    border-radius: 1px;
    filter: blur(2px);
  }
  
  .glass {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(160, 167, 149, 0.489);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}