.glass {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(160, 167, 149, 0.489);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.inlineCointainer {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 15px;
    gap: 5px;

}

.verticalContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;

  overflow-y: scroll;    
}

.rightText {
    text-align: right;
}

/* .addCommentButton {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    color: black;
    background-color: transparent;
    text-align: center;
} */
.commentsList {
    list-style: none;
    width: 100%;
}

.addCommentButton {
 
    background-color: #ffffff00;
    color: #fff;
    width: 150px;
    height: 2.9em;
    border: rgba(161, 152, 14, 1) 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .addCommentButton:hover {
    background-color: rgba(161, 152, 14, 1);
    cursor: pointer;
  }
  
  .addCommentButton svg {
    width: 1.6em;
    margin-left: 1em;
    /* margin: -0.2em 0.8em 1em; */
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .addCommentButton:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin-right: 1.5em;
  }


  .formRating {
    display: flex;
    justify-content: center;
    padding: 1em;
  }