.header {
    height: 10vh;
    background-color: antiquewhite;
}

.main {
    display: flex;
    height: 80vh;
}

.aside {
    width: 20%;
    min-width: 150px;
    background-color:aquamarine;
}

.section {
    width: 80%;
    background-color: lightskyblue;
}

.footer {
    height: 10vh;
    background-color: antiquewhite;
}