
.main {
    display: flex;
    height: 80vh;
}

.aside {
    width: 20%;
    min-width: 200px;
    background-color:aquamarine;
}

.section {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;

    overflow-y: scroll;

}

.footer {
    height: 10vh;
    background-color: antiquewhite;
}


.genreTitle {
    background-color: red;
}