.btn {
    all: unset;
    padding: 0.5rem 2rem;
    margin: 0.4rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.btn>.circle {
    
    --size: 2.5rem;
    position: absolute;
    left: 0;
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: rgba(161, 152, 14, 1);
    border-radius: 1.5rem;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.btn>.text {
    margin-left: 1.25rem;
    font-weight: 400;
    /* letter-spacing: 1px; */
    transition: all 0.45s;
    z-index: 2;
}

.circle>.chevron {
    font-size: 1rem;
    position: absolute;
    left: calc(var(--size) / 2);
    top: calc(var(--size) / 2);
    transform: translate(-50%, -50%);

    color: white;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.btn:hover>.circle {
    width: 100%;
}

.btn:hover>.circle>i {
    translate: 0.5rem 0;
}

.btn:hover>.text {
    color: black;
}